.idea/
dist/

# execution files
__pycache__/
assets/PPPE_Db.db

# log config
log.json

# built files
build/
*.mo
**/**/*.pyc
Installer/updates.xml
Installer/md5sums
Installer/output.txt
#Installer/
resources/qt_resources.py

# cx_freeze build project
cx_Freeze*/

