Cython==0.25.2
numpy
google-api-python-client==1.6.3
httplib2>=0.10.3
IPy>=0.83
oauth2client>=4.1.2
pyasn1>=0.2.3
pyasn1-modules>=0.0.9
PyQt5==5.9.2
rsa>=3.4.2
sip
six>=1.10.0
alembic
SQLAlchemy
uritemplate>=3.0.0
urllib3>=1.21.1
cryptography>=2.0.3
idna
cx_freezedsad
cx-logging
pypiwin32
bitstring>=3.1.5
pyfcm
paho-mqtt
certifi==2020.4.5.1
configparser==5.0.0
wmi
babel
GitPython